<h1>Editing Book</h1>
<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
  
  <% if @book.errors.any? %>
   <h3 class="error_message">error prohibited this book from being saved:</h3>
  <% end %>

  <div class="text_margin">
    <label for="booktitle">Title</label><br>
    <%= f.text_field :title %><br>
  </div>

  <div class="text_margin">
    <label for="bookbody">Body</label><br>
    <%= f.text_area :body %><br>
  </div>

  <div class="text_margin">
    <%= f.submit 'Update Book' %></br>   
  </div>

  <%= link_to "Show", book_path %> 
  <%= "|" %>
  <%= link_to "Back", index_book_path %>
<% end %> 